# Build outputs
Debug/
Release/
build/
out/
*.o
*.a
*.elf
*.map
*.lst
*.d
*.su
*.bak
*.swp

# IDE / workspace metadata
.metadata/
.settings/
*.launch

# CubeIDE / Eclipse
.cproject
.project

# CubeMX generated backup files
*.mxproject
*.ioc.bak
